name: MSRV

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  msrv:
    name: Check MSRV
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust 1.56 (MSRV)
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.56.0
    - name: Check with MSRV
      run: cargo check --all-features
